%h1 About  
%p  
  This is a simple application using Sinatra and HAML, based on the rules of Mastermind.
%p
  The game will randomly select a 4-digit number, using the digits between 1 and 6.
  Your goal is to guess the number before your turns expire. The game "scores" each guess, by returning a
  %id "-" for each digit that is correct, but in the wrong place, and a
  %id "+" for each digit that is correct, and in the right place.
%p
  So, to summarize, "++++" wins!