%h1 The Home Page  
%p  
Welcome to Codebreaker online, made with Sinatra and HAML.  
%p  
/ OK, you started a game with #{@secret}
%div{:id => "stylized"}
  Your turns so far have been
  %table 
    %th Turn
    %th Guess
    %th Result
    - @turns.each do |turn|
      %tr
        %td= turn[2]
        %td= turn[1]
        %td= turn[0]
%p
%p
%div{:id => "stylized"}
  %form{:action => "/guess", :method => "post", :id => "MyForm"}
    %p
      %label{:for => "guess"} Enter your guess
      %input{:type => "text", :name => "guess"}
    %p
      %button{:type => "submit"}
        Submit!