!!!
%html
  %head
    %title Codebreaker Online
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h1 Welcome to Codebreaker online
        %h2 A Mastermind-like code guessing game
      #nav  
        %ol  
          %a(href="index")  
            %li Home  
          %a(href="about")  
            %li About 
          %a(href="codebreaker")
            %li New Game 
      #content
        =yield
      / #side_bar
      /   %h1 Side Bar
      /   %p
      /     %a(href="codebreaker")
      /       %li New Game
      #footer
        %p
          Based on kernel of code from PragProg <span id="BookTitle">The Rspec Book</span>. A Bill Barnett production.
