%h1 The Home Page  
%p  
  Welcome to Codebreaker online, made with Sinatra and HAML.  
%p  
  / OK, you started a game with #{@secret}
  / And your last guess was #{guess}
%form{:action => "/guess", :method => "post"}
  %p
  %label{:for => ""} Enter your guess
  %input{:type => "text", :name => "guess"}
  %p
  %input{:type => "submit", :value => "Submit!"}
